@use 'colors' as c;

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	height: 500vh;
	background-color: c.$darker-section-bg;
}

.active {
	color: c.$main;
}

// Components
.wrapper {
	margin: 0 auto;
	padding: 6em 2em;
	max-width: 1400px;
}

// Header
.header {
	position: absolute;
	background-size: cover;
	background-position: cover;
	background-image: url(/images/pizza-3000274_640.jpg);
	min-height: 100vh;
	z-index: 7;


	nav {
		padding: 1.2em;
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 7;

		.logo {
			h3 {
				font-size: 4rem;
				color: c.$white;
				font-family: 'Pinyon Script', cursive;
				padding: 10px 20px;
			}
		}

		.nav-burger {
			display: flex;
			flex-direction: row-reverse;
			z-index: 4;

			&__btn {
				cursor: pointer;
				border: none;
				background: none;
				outline: none;
				padding: 10px 20px;
			}

			.nav-items {
				color: c.$white;
				font-family: 'Signika', sans-serif;
				display: none;

				a {
					text-decoration: none;
					color: c.$white;
				}
			}
		}
	}

	&__hero-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -1;
	}

	.header-content {
		padding: 0 2em;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		transform: translateY(20%);
		z-index: 2;
		text-align: center;

		h1 {
			margin: 2rem;
			font-size: 7rem;
			font-family: 'Pinyon Script', cursive;
		}

		p {
			font-size: 1.6rem;
			margin-bottom: 5rem;
			font-family: 'Signika', sans-serif;
		}

		&__menu-btn {
			position: relative;
			padding: 1.2em 2em;
			font-size: 1.4rem;
			background-color: white;
			font-weight: bold;
			border: none;
			border-radius: 25px;
			z-index: 12;
			text-transform: uppercase;
			cursor: pointer;
			transition: background-color 0.4s, color 0.4s;

			&:hover {
				background-color: c.$main;
				color: white;
				text-shadow: 0 1px 3px black;
			}
		}
	}
}

// About us
.about_us {
	background-color: c.$darker-section-bg;
	padding: 1.5rem;

	&_wrapper {
		display: flex;
		flex-direction: column;
		max-width: 1400px;
		margin: 0 auto;
	}

	&_heading {
		font-size: 4.5rem;
		color: c.$main;
		margin-top: 1.2rem;
		padding: 1rem 0;
	}

	&p {
		color: white;
		font-size: 1.5rem;
		padding: 1rem 1rem 1rem 0;
		line-height: 2.2rem;
	}

	&wrap_img {
		display: flex;
		justify-content: space-around;
		padding: 3rem 0;

		&first {
			margin-top: 4rem;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&second {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}

	&_img {
		aspect-ratio: 1 / 1;
		width: 40vw;
		margin: 5px 5px;
		object-fit: cover;
		box-shadow: 0 0 7px #000;
	}
}

// Gallery
.gallery {
	background-color: c.$dark-section-bg;

	&-box {
		display: flex;
		flex-direction: column;
	}

	&-box-header {
		margin-bottom: 8em;
		text-align: center;
	}

	&-box-header__heading {
		font-size: 5rem;
		font-weight: bold;
		color: c.$main;
	}

	&-box-header__p {
		font-size: 1.6rem;
		color: c.$white;
		line-height: 1.2;
	}

	&-box-images {
		display: grid;
		grid-template-rows: repeat(2, auto);
		grid-template-columns: repeat(2, auto);
		row-gap: 2.2em;
		column-gap: 2.5em;
		max-height: 600px;
	}

	&-box-images__image {
		aspect-ratio: 1 / 1;
		width: 100%;
		height: 100%;
		object-fit: cover;
		box-shadow: 0 0 7px #000;
		transition: transform 0.3s;

		&:hover {
			transform: scale(0.95);
		}

		&:first-of-type,
		&:nth-of-type(2) {
			grid-row: 1 / 2;
		}

		&:first-of-type {
			grid-column: 1 / 2;
		}

		&:nth-of-type(2) {
			grid-column: 2 / 3;
		}

		&:nth-of-type(3),
		&:nth-of-type(4) {
			grid-row: 2 / 3;
		}

		&:nth-of-type(3) {
			grid-column: 1 / 2;
		}

		&:nth-of-type(4) {
			grid-column: 2 / 3;
		}
	}

	&-box__see-more-link {
		align-self: flex-end;
		margin-top: 0.5em;
		font-size: 2rem;
		font-weight: bold;
		color: c.$main;
		background: none;
		outline: none;
		border: transparent;
		transition: color 0.3s;
		cursor: pointer;

		&:hover,
		&:focus {
			color: c.$main-hover;
		}
	}
}
